# ========================
# DATA
# ========================

# Raw data (never track)
data_raw/

# Cleaned data (ignore large files in root)
data_cleaned/*.csv
data_cleaned/*.parquet

# Allow only sample data
!data_cleaned/sample/
!data_cleaned/sample/*.csv

# ========================
# JUPYTER
# ========================
.ipynb_checkpoints/

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc

# ========================
# ENVIRONMENT / IDE
# ========================
.env
venv/
.envrc

# VS Code
.vscode/

# ========================
# OPERATING SYSTEM FILES
# ========================
.DS_Store
Thumbs.db