# ========================
# DATA
# ========================

# Raw data (never track)
data/data_raw/

# Cleaned data (ignore large files)
data/data_cleaned/*.csv
data/data_cleaned/*.parquet

# Other processed data
data/processed/

# Allow sample data
!data/data_cleaned/sample/
!data/data_cleaned/sample/*.csv

# ========================
# JUPYTER
# ========================
.ipynb_checkpoints/

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc

# ========================
# ENVIRONMENT / IDE
# ========================
.env
venv/
.envrc
.vscode/

# ========================
# OPERATING SYSTEM FILES
# ========================
.DS_Store
Thumbs.db